@mixin page {
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@mixin section {
    min-height: 100vh;
    max-width: 80rem;
    padding: 0 $small-margin;
    margin: 0 auto;
}

@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}
