@mixin page {
    margin: 0 auto;
    padding: 0 $small-margin;
    max-width: 90rem;
    min-height: 100vh;
}

@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}
