$primary-color: #88d225;
$background-color: #080808;
$background-color-lighter: lighten($background-color, 6%);
$background-color-more-lighter: lighten($background-color-lighter, 10%);
$even-section-color: lighten($background-color, 3.5%);
$text-color: #ffffff;
$text-color-muted: transparentize($text-color, 0.35);

$font-family: "Rubik", sans-serif;

$default-margin: 15vw;
$small-margin: 0.5rem;
$medium-margin: 4rem;
$slide-padding: 1.5rem;
