$primary-color: #fff01f;
$background-color: #000000;
$text-color: #ffffff;
$text-color-muted: transparentize($text-color, 0.4);

$font-family: "Inter", sans-serif;

$default-margin: 15vw;
$small-margin: 2rem;
