@use "sass:color";
@use "variables";
@use "mixins";
@use "transition";

* {
    box-sizing: border-box;
}

body {
    background-color: variables.$background-color;
    color: variables.$text-color;
    font-family: variables.$font-family;

    overflow: hidden;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

span.primary-color {
    color: variables.$primary-color;
}

::selection {
    background: color.adjust(variables.$primary-color, $alpha: -0.4);
}

button {
    font-family: Rubik, serif;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
